[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

.number-slide1 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)
    ),
    url("../assets/banner-1.jpg");
  width: 100%;
  background-size: cover;
}

.number-slide2 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)
    ),
    url("../assets/banner-2.jpeg");
  width: 100%;
  background-size: cover;
}

.number-slide3 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.6)
    ),
    url("../assets/banner-3.jpg");
  width: 100%;
  background-size: cover;
}

.all-plants-banner {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='400' preserveAspectRatio='none' viewBox='0 0 1440 400'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1713%26quot%3b)' fill='none'%3e%3crect width='1440' height='400' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1714%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1560 400L0 400 L0 182.53Q100.35 162.88%2c 120 263.23Q147.51 218.74%2c 192 246.25Q222.78 157.04%2c 312 187.82Q395.44 151.26%2c 432 234.7Q508.38 191.09%2c 552 267.47Q577.08 220.55%2c 624 245.63Q662.99 164.62%2c 744 203.6Q818.78 158.38%2c 864 233.16Q911.02 208.19%2c 936 255.21Q964.91 164.12%2c 1056 193.03Q1125.95 142.98%2c 1176 212.93Q1264.51 181.44%2c 1296 269.96Q1308.89 210.85%2c 1368 223.74Q1393.58 177.32%2c 1440 202.9Q1525.08 167.98%2c 1560 253.05z' fill='rgba(24%2c 93%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1488 400L0 400 L0 309.98Q61.08 251.06%2c 120 312.15Q148.09 268.24%2c 192 296.32Q279.95 264.27%2c 312 352.23Q342.23 310.46%2c 384 340.68Q404.56 241.24%2c 504 261.8Q533.5 219.3%2c 576 248.8Q631.11 231.91%2c 648 287.02Q695.7 214.72%2c 768 262.41Q833.16 207.57%2c 888 272.73Q951.19 263.92%2c 960 327.11Q1001.38 296.49%2c 1032 337.86Q1054.87 288.73%2c 1104 311.6Q1114.96 250.56%2c 1176 261.52Q1242.92 208.44%2c 1296 275.37Q1389.24 248.61%2c 1416 341.85Q1428.72 282.57%2c 1488 295.29z' fill='rgba(19%2c 140%2c 14%2c 1)'%3e%3c/path%3e%3cpath d='M1560 400L0 400 L0 391.14Q72 343.14%2c 120 415.14Q130.9 354.04%2c 192 364.95Q258.98 311.93%2c 312 378.91Q370.03 364.94%2c 384 422.97Q429.15 348.13%2c 504 393.28Q506.36 323.64%2c 576 326Q637.22 315.22%2c 648 376.44Q726.57 335.01%2c 768 413.58Q820.72 346.3%2c 888 399.02Q932.31 323.33%2c 1008 367.64Q1057.95 297.6%2c 1128 347.55Q1181.18 280.74%2c 1248 333.92Q1344.84 310.75%2c 1368 407.59Q1391.85 359.44%2c 1440 383.29Q1521.96 345.25%2c 1560 427.22z' fill='rgba(0%2c 178%2c 34%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1713'%3e%3crect width='1440' height='400' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1714'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
