/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
  height: 8px; /* Set the height of the scrollbar for horizontal scrolling */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scrollbar track */
  border-radius: 10px; /* Rounded corners for the scrollbar track */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Makes the scrollbar thin */
  scrollbar-color: #000000 #f1f1f1; /* Color of the scrollbar thumb and track */
}
